$bgColor: #1a1818;
$white: #f6f6df;
$primaryColor: #63f574;
$secondaryColor: #f14025;

$headlineBig: clamp(5rem, 9.9vw, 15rem);
$headlineMedium: clamp(1rem, 2vw, 4rem);
$headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
$space: clamp(0.9rem, 0.75vw, 1.3rem);

html,
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $bgColor;
}

body, html {
    overflow-x: hidden;
}

.header {
    height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    h1 {
        font-family: "Poppins";
        font-weight: 600;
        font-size: $headlineBig;
        color: $white;
    }

    h2 {
        letter-spacing: $headlineSmall;
        font-size: $headlineSmall;
        text-transform: uppercase;
        color: $primaryColor;
    }
}

.app {
    background-color: $bgColor;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 60px;
    height: 60px;
    background-color: $primaryColor;
}

.page {
    height: 100vh;
    width: 100%;
    background-color: $bgColor;
}

.item {
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
}

.item h2 {
    font-family: "Arial", cursive;
    font-size: 30vw;
    flex-shrink: 0;
    padding-right: 0.3em;
    padding-left: 0.3em;
    color: #e10600;

    margin: 0;
}

.item h2:last-of-type {
    background: $white;
}

.space-20vh {
    height: 20vh;
}

.space-30vh {
    height: 30vh;
}

.space-50vh {
    height: 50vh;
}

.space-100vh {
    height: 100vh;
}
